<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      {{ client ? 'Editar' : 'Agregar' }} Cliente
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="saveClient()">
    <ion-item>
      <ion-label position="stacked" >Nombre</ion-label>
      <ion-input [(ngModel)]="clientData.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Dirección</ion-label>
      <ion-input [(ngModel)]="clientData.direccion" name="direccion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Teléfono</ion-label>
      <ion-input [(ngModel)]="clientData.telefono" name="telefono" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Correo</ion-label>
      <ion-input [(ngModel)]="clientData.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >URL Imagen</ion-label>
      <ion-input [(ngModel)]="clientData.url" name="url"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">{{ client ? "Guardar" : "Agregar" }}</ion-button>
  </form>
</ion-content>
